API_URL=http://api:4000/v1
INTERNAL_KEY=SEGREDO_INTERNO_DA_API
AMI_ADDRESS=asterisk.internal:5039
AMI_TLS=true
AMI_USERNAME=portaria_events
AMI_SECRET=SEGREDO_FORTE_CONFIGURADO_NO_ASTERISK
ACCESS_BINDINGS={}
EVENT_SPOOL=/var/lib/portaria-telephony
